@media only screen and (max-width: 300px) {
  .counter-box {
    word-break: break-all;
    flex-direction: column;
  }
  .counter-box > div {
    width: 100%;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
